* { box-sizing: border-box; }

body { font-family: sans-serif; }

/* ---- MASONRY.js grid ---- */

.grid {
      width: 100%;
      display: flex;
      flex-wrap: wrap; 
      gap: 15px; 
      justify-content: flex-start; 
    }
.grid-item {
      width: 200px;
      height: auto;
      background-color: white; 
      border: 2px solid #333;
      border-radius: 5px;
      padding: 10px;
      box-sizing: border-box;
}
